:root {
    --dark-1: #0a4a6e;
    --dark-2: #332624;
    --dark-3: #48434a;
    --dark-4: #5f5260;
    --white: #eee;
    --shade-1: #2dc1ca;
    --shade-2: #4a472e;
    --shade-3: #7a85c6;
    --shade-4: #332624;
    --shade-5: #b1bdef;
    --shade-6: #454663;
    --shade-7: #0a4a6e;
    --shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .1);
    --shadow-alt: 0 .8rem .8rem 0 rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
    font-size: 400;
    transition: .4s all ease;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #eee;
    color: var(--dark-1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--dark-1);
}

::-webkit-scrollbar-thumb {
    background: var(--white);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--shade-7);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem 3rem;
    background: #eee;
    position: fixed;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

.header-default {
    box-shadow: none;
}

.header-scrolled {
    box-shadow: 0 .2rem 8rem 0 rgba(0, 0, 0, 0.1);
}

/* SIDE NAVIGATION */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: var(--dark-1);
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, .9);
    /* opacity: .9; */
    overflow-x: hidden;
    padding-top: 60px;

}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #bdbdbd;
    display: block;
}

.side-nav a:hover {
    color: var(--white);
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 3rem;
    margin-left: 50px;
}

.open-side-menu {
    border: none;
    background: none;
    font-size: 1.7rem;
}

.open-side-menu a {
    color: var(--dark-1);
}

.logo {
    width: 5%;
    opacity: .8;
    cursor: pointer;
}

.logo:hover {
    opacity: 1;
}

.links {
    padding: .7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link-item {
    list-style: none;
    display: inline;
}

.link {
    text-decoration: none;
    padding: 1rem;
    color: var(--dark-1);
    letter-spacing: 2.3px;
    font-weight: 400;
}

.is-active {
    background: var(--dark-1);
    border-radius: 99px;
    padding: .5rem;
    padding-left: 1rem;
    border-right: 20px solid var(--shade-5);
    box-shadow: 0 .3rem .4rem 0 rgba(0, 0, 0, .1);
    animation: active-indicator 2s;
}

@keyframes active-indicator {
    0% {
        border-right: 0px solid transparent;
    }

    50% {
        border-right: 20px solid var(--shade-5);
    }

    100% {
        border-right: 20px solid var(--shade-5);
    }
}

.is-active a {
    color: var(--white);
}

.cta-btn {
    padding: 12px;
    width: 180px;
    border-radius: 3px;
    font-size: 1rem;
    border: none;
    background: var(--dark-1);
    color: var(--white);
    cursor: pointer;
}

.cta-btn:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-alt);
}

main {
    overflow: hidden;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin-top: 5rem;
    padding-top: 1rem;
}

.hero-text {
    text-align: center;
    padding: 2rem;
    border-left: 1px solid var(--dark-1);
}

.hero-title {
    width: 100%;
}

.hero-img-container {
    padding: 3rem;
    background: transparent;
}

.hero-img {
    width: 100%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    animation: rotate 4s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cta-hero {
    padding: 12px;
    width: 220px;
    border-radius: 3px;
    font-size: 1.5rem;
    border: none;
    background: var(--dark-1);
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
    transition: .4s all ease;
}

.cta-hero:hover {
    transform: translateY(-3px);
    box-shadow: var(--shadow);
}

.about {
    margin-top: 3rem;
}

.about-text {
    color: var(--dark-4);
}

.about-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
}

.about-img-container {
    text-align: center;
    border-left: 1px solid var(--dark-1);
}

.img-wrapper {
    filter: drop-shadow(-1px 6px 9px rgba(50, 50, 0, 0.2));
}

.about-img {
    width: 90%;
    pointer-events: none;
    clip-path: circle(45% at 50% 50%);
    animation: hover-animation 2s infinite;
}

@keyframes hover-animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0px);
    }
}

.text {
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.text span {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--dark-1);
    text-decoration: underline;
}

.bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 1000px;
    margin: auto;
    border-radius: 0px 200px 0px 200px;
    box-shadow: var(--shadow-alt);
    align-items: center;
    background: linear-gradient(90deg, rgb(3.922% 29.02% 43.137%) 0%, rgb(4.064% 29.2% 43.298%) 6.25%, rgb(4.491% 29.743% 43.781%) 12.5%, rgb(5.204% 30.646% 44.585%) 18.75%, rgb(6.201% 31.912% 45.711%) 25%, rgb(7.483% 33.539% 47.158%) 31.25%, rgb(9.05% 35.527% 48.928%) 37.5%, rgb(10.902% 37.877% 51.019%) 43.75%, rgb(13.039% 40.588% 53.431%) 50%, rgb(15.461% 43.661% 56.166%) 56.25%, rgb(18.168% 47.096% 59.222%) 62.5%, rgb(21.16% 50.892% 62.6%) 68.75%, rgb(24.436% 55.049% 66.299%) 75%, rgb(27.998% 59.568% 70.32%) 81.25%, rgb(31.844% 64.449% 74.663%) 87.5%, rgb(35.976% 69.691% 79.328%) 93.75%, rgb(40.392% 75.294% 84.314%) 100%);
    color: var(--white);
    padding: 3rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.bio-img {
    width: 100%;
    border-radius: 12px;
    box-shadow: var(--shadow);
    display: none;
}

.bio-img-container {
    background: url(../assets/images/manpointinglaptop.png);
    background-position: -200px;
    height: 150%;
    border-radius: 0px 64px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    box-shadow: var(--shadow);
}

.bio-text {
    padding: 1rem;
    text-align: right;
}

.bio-title {
    font-size: 2rem;
    text-align: left;
}

.bio-text {
    font-size: .9rem;
}

.bio-text span {
    font-weight: 700;
    font-size: 1.2rem;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.footer-logo {
    width: 6%;
    opacity: .8;
    cursor: pointer;
}

.footer-logo:hover {
    opacity: 1;
}

.footer-title {
    font-size: 1rem;
    color: var(--shade-1);
}

.footer-title span {
    color: var(--dark-1);
    font-weight: 700;
    font-size: 1.5rem;
}






@media (max-width: 1000px) {
    header {
        justify-content: space-between;
        z-index: 10;
    }

    .logo {
        width: 10%;
    }

    nav {
        display: none;
    }

    .cta-btn {
        display: none;
    }

    .hero {
        display: block;
    }

    .hero-img-container {
        text-align: center;
        padding: 0;
        position: relative;
        top: -20px;
    }

    .hero-img {
        clip-path: none;
        animation: none;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .hero-title {
        width: 50%;
    }

    .hero-text {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }

    .about {
        max-width: 500px;
        margin: auto;
    }

    .about-content {
        display: block;
        text-align: center;
        margin: 1.5rem;
    }

    .bio {
        display: block;
        max-width: 600px;
        margin: auto;
        padding: 0;
    }

    .bio-img {
        width: 100%;
        border-radius: 12px 12px 0px 0px;
        height: 300px;
        object-fit: cover;
        box-shadow: var(--shadow);
        display: block;
    }

    .bio-img-container {
        background: none;
    }

    .bio-text {
        padding: 1.2rem;
    }
}

@media (min-width: 1000px) {
    .open-side-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .about-img-container {
        border-left: none;
        display: none;
    }

    .bio {
        border-radius: 21px;
    }

    .bio-img-container {
        clip-path: none;
    }
}

@media (max-width: 500px) {

    .logo {
        width: 25%;
    }

    .hero-title {
        width: 100%;
    }

    .about {
        max-width: 500px;
    }

    .about-text {
        color: var(--dark-3);
        max-width: 350px;
        margin: auto;
    }

    .about-img-container {
        border-left: none;
    }

    .bio {
        margin: 1rem;
    }

    .bio-img {
        width: 100%;
        border-radius: 12px 12px 0px 0px;
        height: 200px;
        object-fit: cover;
        box-shadow: var(--shadow);
        display: block;
    }

    .bio-img-container {
        background: none;
    }
}